In [1]:
import pandas as pd

In [4]:
zp_path = "D:\文档\坚果云\区域经济\数字经济\数字经济指数\数据\人工智能招聘数据\福建2024.csv"

In [5]:
import pandas as pd
from datetime import datetime, timedelta

# 1. 生成2022年全年的日期序列
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
all_dates = [d.strftime('%Y-%m-%d') for d in date_range]

# 2. 读取专利数据（假设df是原始数据）
df = pd.read_csv(zp_path)
df['招聘发布日期'] = pd.to_datetime(df['招聘发布日期']).dt.strftime('%Y-%m-%d')  # 统一日期格式

# 3. 获取所有城市列表
cities = df['工作城市'].unique().tolist()

# 4. 创建完整的时间-城市矩阵
result = pd.DataFrame(index=all_dates, columns=cities).fillna(0)

# 5. 统计每个城市每天的申请数量
for city in cities:
    city_data = df[df['工作城市'] == city]
    daily_counts = city_data['招聘发布日期'].value_counts()
    result[city] = result.index.map(lambda x: daily_counts.get(x, 0))

# 6. 重置索引并将日期转为列
result = result.reset_index().rename(columns={'index': '日期'})

# 7. 保存结果
result.to_excel('福建省各城市每日招聘量统计_2024.xlsx', index=False)
print("统计完成，结果已保存！")

统计完成，结果已保存！

In [8]:
city_file = '福建省各城市每日招聘量统计_2023.xlsx'
df = pd.read_excel(city_file)
df['日期'] = pd.to_datetime(df['日期'])
df['week'] = df['日期'].dt.strftime('%G-%V')  # 格式如"2022-52"
# 添加ISO年周列（关键步骤）
# 步骤2：自动选择所有数值列（排除非数值列）
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
# 步骤3：动态分组求和
df_new = df[numeric_cols + ['week']].groupby('week').sum()
df_new['week'] = df_new.index
df_new.to_excel('福建省人工智能招聘量周统计_2023.xlsx', index=False)
df_new

          福州   厦门  泉州  宁德  漳州  南平  莆田  龙岩  三明     week
week
2022-52    0    0   0   0   0   0   0   0   0  2022-52
2023-01   11    8   1   0   0   0   0   0   1  2023-01
2023-02   12   17   2   1   0   1   0   0   0  2023-02
2023-03    4    7   0   1   1   0   0   0   0  2023-03
2023-04    4    7   1   0   0   0   0   2   0  2023-04
2023-05   12   17   3   3   4   0   1   0   0  2023-05
2023-06   19   14   6   4   0   1   0   0   0  2023-06
2023-07   17   15   4   4   1   0   0   0   0  2023-07
2023-08   12   13   6   1   1   1   1   1   0  2023-08
2023-09   13   13   2   2   0   0   1   0   0  2023-09
2023-10   23   13   2   1   1   0   0   2   3  2023-10
2023-11   20   13   5   6   1   1   0   7   0  2023-11
2023-12   13   10   3   1   1   0   2   1   0  2023-12
2023-13   18    9   2   9   0   0   3   4   2  2023-13
2023-14  126  137  22   7   5   0   0   1   4  2023-14
2023-15   26   28   2   7   2   0   2   0   0  2023-15
2023-16   28   20   7   3   0   0   3   2   4  2023-16
2023-17   20   17   5   5   1   0   2   0   2  2023-17
2023-18   17   16   2   3   3   0   1   0   2  2023-18
2023-19   22   25   4   2   4   0   2   2   3  2023-19
2023-20   29   30   4   1   0   0   1   0   0  2023-20
2023-21   18   19   2   1   0   7   0   0   0  2023-21
2023-22   25   20   5   1   1   0   2   0   0  2023-22
2023-23   12   14   5  10   1   0   1   0   0  2023-23
2023-24   20   30   5   5   2   0   0   0   0  2023-24
2023-25   40   51   6   0   2   0   0   0   0  2023-25
2023-26   23   17   0   2   2   0   0   1   0  2023-26
2023-27   19   12   2   7   0   0   0   3   0  2023-27
2023-28   25   13   6   3   0   0   3   0   1  2023-28
2023-29   11    9   0   0   0   0   0   0   0  2023-29
2023-30   13   12   2   2   0   0   0   1   1  2023-30
2023-31   20   16   4   0   1   0   0   0   0  2023-31
2023-32   25   17   3   1   1   0   0   1   0  2023-32
2023-33   18   23   7   0   1   0   0   1   0  2023-33
2023-34   15   12   1   1   0   0   0   0   0  2023-34
2023-35   20   18   1   1   0   0   0   1   0  2023-35
2023-36   19   18   1   0   1   0   0   0   0  2023-36
2023-37   14   25   1   0   0   0   0   1   0  2023-37
2023-38   12   29   3   1   0   0   1   0   0  2023-38
2023-39   13   27   4   0   0   0   0   0   0  2023-39
2023-40   17   22   0   0   1   0   0   2   0  2023-40
2023-41   16   23   3   0   0   0   0   0   0  2023-41
2023-42   24   30   0   0   0   0   0   1   0  2023-42
2023-43   19   19   0   0   0   0   0   1   0  2023-43
2023-44   34   26   2   0   0   0   0   0   0  2023-44
2023-45   22   22   2   0   1   0   0   0   0  2023-45
2023-46   21   30   1   0   1   0   0   1   0  2023-46
2023-47   22   20   1   1   0   0   0   0   0  2023-47
2023-48    4    6   1   0   0   0   0   0   0  2023-48
2023-49    2   14   0   0   1   0   0   0   0  2023-49
2023-50    6    4   3   1   0   0   0   0   0  2023-50
2023-51    1    8   0   0   0   0   1   1   0  2023-51
2023-52    3    4   0   0   0   0   0   0   0  2023-52

### 合并

In [2]:
years = [2022,2023,2024]
df_list = [pd.read_excel(f'福建省人工智能招聘量周统计_{year}.xlsx') for year in years]
df_all = pd.concat(df_list)
df_all

    福州  厦门  南平  泉州  宁德  三明  龙岩  莆田  漳州     week
0    4   3   0   1   0   0   0   0   0  2021-52
1   32  26   1   6   8   0   0   5   3  2022-01
2   18  18   0   6   3   0   1   1   3  2022-02
3   23  21   0   1   2   0   0   1   0  2022-03
4   10  20   0   5   2   0   0   0   0  2022-04
..  ..  ..  ..  ..  ..  ..  ..  ..  ..      ...
48  10   2   2   0   0   0   0   0   0  2024-49
49  10   8   0   0   0   0   0   0   0  2024-50
50   6   2   0   4   0   0   0   0   0  2024-51
51   2   1   0   0   0   0   0   0   0  2024-52
52   0   2   0   0   0   0   0   0   0  2025-01

[159 rows x 10 columns]

In [3]:
df_all_new = df_all.groupby('week').sum()
df_all_new['week'] = df_all_new.index
df_all_new.to_excel("福建省人工智能招聘量周统计2022-2024.xlsx",index=False)